:root {
    --background-light: #fff;
    --background-dark: #333;
    --background-blue: cadetblue;
    --font-color-light: #333;
    --font-color-dark: #fff;
    --font-color-blue: #fff;
    --button-primary: steelblue;
    --background-winner: turquoise;
    --background-end-game: crimson;
}